/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aileron", sans-serif !important;
  src: url("/assets/fonts/Aileron-Black.otf") format("opentype");
  src: url("/assets/fonts/Aileron-Bold.otf") format("opentype");
  src: url("/assets/fonts/Aileron-Heavy.otf") format("opentype");
  src: url("/assets/fonts/Aileron-Light.otf") format("opentype");
  src: url("/assets/fonts/Aileron-Regular.otf") format("opentype");
  src: url("/assets/fonts/Aileron-Thin.otf") format("opentype");
  src: url("/assets/fonts/Aileron-UltraLight.otf") format("opentype");
}
