/* @font-face {
	font-family: "Aileron", sans-serif !important;
	src: url("/assets/fonts/Aileron-Black.otf") format("opentype");
	src: url("/assets/fonts/Aileron-Bold.otf") format("opentype");
	src: url("/assets/fonts/Aileron-Heavy.otf") format("opentype");
	src: url("/assets/fonts/Aileron-Light.otf") format("opentype");
	src: url("/assets/fonts/Aileron-Regular.otf") format("opentype");
	src: url("/assets/fonts/Aileron-Thin.otf") format("opentype");
	src: url("/assets/fonts/Aileron-UltraLight.otf") format("opentype");
} */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--direction: rtl;
		--float: right;
		--font-size: 13px;
		--font-weight: semibold;
		--font-family: Tajawal, "IBM Plex Sans Arabic", sans-serif;

		--sidebar-width: 250px;
		--dashboard-width: calc(100% - var(--sidebar-width));

		--background: hsl(0 0% 100%);
		--foreground: hsl(240, 46%, 17%);

		--navbar: white;
		--navbar-foreground: var(--foreground);

		--sidebar: #fff;
		--sidebar-foreground: var(--foreground);
		--sidebar-border: var(--border);

		--dashboard: whitesmoke;
		--dashboard-foreground: var(--foreground);

		--dashboard-navbar: transparent;
		--dashboard-navbar-foreground: var(--foreground);
		--dashboard-navbar-border: var(--border);
		--dashboard-navbar-height: 60px;
		--dashboard-input-height: 2.5rem;

		--root-navbar: var(--secondary);
		--root-navbar-foreground: white;
		--root-navbar-border: var(--root-navbar-foreground);

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: hsl(0 0% 100%);
		--popover-foreground: 240 10% 3.9%;

		--card: hsl(0, 0%, 100%);
		--card-foreground: var(--foreground);

		--border: #e3e3e3;
		--input: var(--border);

		--primary: hsl(235.38deg 92.85% 55.94%);
		--primary-foreground: #ffffff;

		--secondary: hsl(229, 86%, 20%);
		--secondary-foreground: #fff;

		--accent: hsl(224, 93%, 89%);
		--accent-foreground: var(--foreground);

		--destructive: hsl(0 84.2% 60.2%);
		--destructive-foreground: hsl(0 0% 98%);

		--ring: var(--accent);
		--radius: 0.5rem;
	}

	.dark {
		--background: hsl(240, 61%, 11%);
		--foreground: hsl(0 0% 98%);

		--muted: hsl(240, 35%, 18%);
		--muted-foreground: hsl(240, 36%, 68%);

		--popover: var(--card);
		--popover-foreground: hsl(0 0% 98%);

		--card: hsl(240, 46%, 17%);
		--card-foreground: hsl(0 0% 98%);

		--border: hsl(240 3.7% 15.9%);
		--input: hsl(240 3.7% 15.9%);

		--primary: hsl(0 0% 98%);
		--primary-foreground: hsl(240 5.9% 10%);

		--secondary: hsl(240 3.7% 15.9%);
		--secondary-foreground: hsl(0 0% 98%);

		--accent: hsl(240 3.7% 15.9%);
		--accent-foreground: hsl(0 0% 98%);

		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(0 0% 98%);

		--ring: hsl(240 4.9% 83.9%);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

*,
*:before,
*:after {
	direction: var(--direction) !important;
}

html,
body {
	direction: var(--direction) !important;
	text-align: var(--float);
	font-family: var(--font-family) !important;
	font-weight: var(--font-size);
	font-size: var(--font-weight);
	color: var(--foreground);
}